<hr>
<h1>Add Dhana Event</h1>
<hr>
<div class="col-md-4">
</div>

<div class="container"  *ngIf="!name; else forminfo">
<form [formGroup]="rForm" (ngSubmit)="addDhana(rForm.value)"> 
     <div class="col-md-4 text-left">

        <div class="row form-group">
          <label for="fName">First Name</label>
          <input formControlName="firstName" type="text" class="form-control" id="fName" placeholder="Enter First Name">
          <div class="alert alert_animation alert-danger" *ngIf="!rForm.controls['firstName'].valid && rForm.controls['firstName'].touched">{{ requiredAlert }}</div>

        </div>
        <div class="row form-group">
          <label for="payee">Last Name</label>
          <input  type="text" class="form-control" formControlName="lastName" id="lName" placeholder="Enter Last Name">
          <div class="alert alert_animation alert-danger" *ngIf="!rForm.controls['lastName'].valid && rForm.controls['lastName'].touched">{{ requiredAlert }}</div>

        </div>
        <div class="row form-group">
          <label for="payee">Email</label>
          <input type="text" class="form-control" id="email" formControlName="email" placeholder="Enter Email Adress">
          <div class="alert alert_animation alert-danger" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">{{ validEmailAlert }}</div>

        </div>
        <div class="row form-group">
            <label for="mobile">Mobile Number</label>
            <input type="text" class="form-control" id="mobile" formControlName="mobile" placeholder="Enter Mobile Number">
            <div class="alert alert_animation alert-danger" *ngIf="!rForm.controls['mobile'].valid && rForm.controls['mobile'].touched">{{ validMobilelAlert }}</div>

          </div>
        
        <div class="row form-group">
          <label for="day">Day of the Month</label>
          <select formControlName="dayOfMonth">
              <option *ngFor="let x of days" value="{{x}}">{{x}}</option>
            </select>
        </div>
        <div class="row form-group">
          <label for="type">Special Notes</label>
          <textarea formControlName="specialNotes" name="specialNotes" type="text" class="form-control" id="type" placeholder="Enter Any special note"></textarea>
        </div>
        <div class="col-md-4">
        </div>
        <div class="form-group" class="col-md-8">
          <div class="col-md-4">
              <button type="submit" name="btn_register" class="btn btn-primary" [disabled]="!rForm.valid">Add</button>
          </div>
          <div class="col-md-4">
          <button type="button" class="btn btn-default">Cancel</button>
          </div>
        </div>
      
        <div class="col-md-4">
        </div>
      </div>

    

    </form>

 </div>
<div class="col-md-4">
</div>

<div class="alert alert-success col-md-12"  *ngIf="reminderAddResult">
  <strong>Success!</strong> Reminder added succesfully. <a href="{{eventLink}}" target="_blank">Click Here</a> to view the event. 
</div>
<div class="alert alert-danger col-md-12"  *ngIf="reminderAddResult!==undefined && reminderAddResult==false">
  <strong>Failed!</strong> {{errorMessage}}
</div>

